{% extends "base.html" %}

{% block title %}
  <title>Tasks</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>TODO list</h1>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Add task</button>
    </div>
  </div>

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <p>{{ task.content }}</p>
          <p>{{ task.is_done }}</p>
          <p>Created: {{ task.created }}</p>
          <p>Deadline: {{ task.deadline }}</p>
          <p>Tags:
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
