{% extends "base.html" %}

{% block title %}
  <title>Tasks</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>TODO list</h1>
    </div>
    <div class="col">
      <a href="{% url 'todolist:task-create' %}">
        <button type="button" class="btn btn-primary">Add task</button>
      </a>
    </div>
  </div>

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <p>{{ task.content }}</p>
          <p>
            {% if task.is_done %}
              Done
            {% else %}
              Not done
            {% endif %}
          </p>
          <p>Created: {{ task.created }}</p>
          <p>Deadline: {{ task.deadline }}</p>
          <p>Tags:
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
          </p>
          <p>
            {% if task.is_done %}
              <a href="{% url 'todolist:toggle-task' pk=task.id %}">
                <button type="button" class="btn btn-secondary">Undo</button>
              </a>
            {% else %}
              <a href="{% url 'todolist:toggle-task' pk=task.id %}">
                <button type="button" class="btn btn-success">Complete</button>
              </a>
            {% endif %}
          </p>
          <p>
            <a href="{% url 'todolist:task-update' pk=task.id %}">
              <button type="button" class="btn btn-primary">Update</button>
            </a>
          </p>
          <p>
            <a href="{% url 'todolist:task-delete' pk=task.id %}">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
